<div class="main">
  <div class="navbar">
    <img class="logo" src="../assets/Images/logo.png" alt="caursole-img" />
    <div class="right-div" >
        <select class="select-language">
            <option class="language">English</option>
            <option class="language">Hindi</option>
        </select>
        <button class="SignUp" >SignUp</button>
    </div>
  </div>
  <div class="caursole">
    
    <img class="caursole-img" src="../assets/Images/caursole-img.jpg" />
    <app-over-caursole></app-over-caursole>
    
  </div>
</div>
