.main {
    width: 100%;
    position: relative;
}
.caursole{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}
.caursole img {
    width: 100%;
    height: auto;
}
.navbar {
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
    padding-left: 200px;
}

.select-language {
    background-color: #E0E1DD;
    margin-right: 20px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.language{
    background-color: antiquewhite;
}

.SignUp{
    background-color: #9B1820;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    margin-right: 5%;
}
.right-div{
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
}